.th {
  position: sticky;
  top: 0;
  font-weight: inherit;
  cursor: pointer;
  background-color: var(--bg-gray);
  color: var(--sub-text);
  text-align: left;
  z-index: 1;
}

.container {
  margin-left: -1px;
  padding: 8px 0;
  display: flex;
  width: calc(100% + 1px);
  justify-content: space-between;
  height: 48px;
  border-bottom: 1px solid var(--bg-stroke-gray);
}

.flexContainer {
  padding-left: 15px;
  display: flex;
  min-height: 16px;
  justify-content: left;
  align-items: center;
  gap: 4px;
  border-left: 1px solid transparent;
}
.container:hover {
  .flexContainer {
    border-color: var(--bg-stroke-gray);
  }
}

.rightBorder {
  display: block;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  padding-left: 15px;
  border-right: 1px solid var(--bg-stroke-gray);
}
.container:hover {
  .rightBorder {
    opacity: 1;
    pointer-events: auto;
    cursor: ew-resize;
  }
}

.sortIcon {
  opacity: 0;
  transition: opacity var(--animation-duration) ease;
  transform: rotateX(180deg);
}
.th:hover {
  .sortIcon:not(.sortTypeASC, .sortTypeDESC) {
    opacity: 0.5;
  }
}
.sortTypeASC {
  opacity: 1;
}
.sortTypeDESC {
  opacity: 1;
  transform: none;
}
