.tabLabel {
  padding: 0 32px;
  height: 100%;
  flex: 0 1 auto;
  max-width: 247px;
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-right: 1px solid rgb(var(--bg-stroke-gray));
  border-bottom: 1px solid rgb(var(--bg-stroke-gray));
  font: var(--font-subtext-bold);

  &.isActiveTab {
    background-color: rgb(var(--mc-white));
    border-bottom-color: transparent;
  }
}