tr:first-child .td {
  padding-top: 32px;

  &:after {
    right: 0;
    top: 18px;
    width: 1px;
    height: calc(100% - 28px);
  }
}

.td {
  position: relative;
  padding: 24px 16px;
  font-weight: inherit;
  text-align: left;
  vertical-align: top;
  max-width: 430px;
  min-width: 130px;

  &.smallest {
    min-width: unset;
  }

  &::after {
    content: "";
    position: absolute;
    right: 0;
    top: 10px;
    width: 1px;
    height: calc(100% - 20px);
    background-color: rgb(var(--bg-stroke-gray));
  }

  &:last-child::after {
    display: none;
  }
}