tr:first-child .td {
  padding-top: 18px;
}

.td {
  position: relative;
  padding: 10px 16px 8px;
  font-weight: inherit;
  text-align: left;
  vertical-align: top;
  max-width: 430px;
  min-width: 130px;

  &.smallest {
    min-width: unset;
    width: 1%;
  }
}

.td::after {
  content: "";
  position: absolute;
  right: 0;
  top: 10px;
  width: 1px;
  height: calc(100% - 20px);
  background-color: rgb(var(--bg-stroke-gray));
}

.td:last-child::after {
  display: none;
}