.button {
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  font: var(--font-h2);
  cursor: pointer;
  transition: background-color var(--animation-duration) ease;
}
.buttonHovered {
  background-color: rgb(var(--bg-stroke-gray));
}
.buttonActive {
  font-weight: 600;
  background-color: rgb(var(--mc-accent));
  color: rgb(var(--mc-white));
}