.th {
  position: sticky;
  top: 0;
  text-align: left;
  font-weight: inherit;
  background-color: var(--bg-gray);
  color: var(--sys-disabled);
  z-index: 1;
}

.container {
  padding: 8px 0;
  display: flex;
  justify-content: space-between;
  height: 48px;
  border-bottom: 1px solid var(--bg-stroke-gray);
}

.container > .centerContent {
  padding: 0 16px;
}

.rightContent {
  height: 100%;
  padding-left: 7px;
  border-right: 1px solid var(--bg-stroke-gray);
  cursor: col-resize;
  opacity: 0;
  pointer-events: none;
}
.container:hover .rightContent {
  opacity: 1;
  pointer-events: auto;
}