.th {
  padding: 8px 0 7px 0;
  position: sticky;
  top: 0;
  height: 48px;
  text-align: left;
  font-weight: inherit;
  background-color: rgb(var(--bg-gray));
  border-bottom: 1px solid rgb(var(--bg-stroke-gray));
  color: rgb(var(--sys-disabled));
  z-index: 1;
}

.content {
  padding-left: 16px;
  display: flex;
  align-items: center;
  height: 100%;
}

.rightContent {
  height: 100%;
  padding-left: 7px;
  border-right: 1px solid rgb(var(--bg-stroke-gray));
  cursor: col-resize;
  opacity: 0;
  pointer-events: none;
}
.th:hover .rightContent {
  opacity: 1;
  pointer-events: auto;
}