.sorterContainer {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 4px;

  & > * {
    flex-shrink: 0;
  }
}

.sortIcon {
  opacity: 0;
  transition: opacity var(--animation-duration) ease;
  transform: rotateX(180deg);
  cursor: pointer;
  flex-shrink: 0;
}
.sorterContainer:hover {
  .sortIcon:not(.sortTypeASC, .sortTypeDESC) {
    opacity: 0.4;
  }
}
.sortTypeASC {
  opacity: 1;
}
.sortTypeDESC {
  opacity: 1;
  transform: none;
}
