// themes.scss

:root {
  --mc-accent: #0ea0de;
  --mc-accent-hover: #018DC9;
  --mc-black: #282a2c;
  --mc-white: #ffffff;
  --bg-blue: #f0f9fd;
  --bg-blue-hover: #cfeefa;
  --bg-gray: #f8f8f8;
  --bg-stroke-gray: #e6ecee;
  --adt-red: #c4320a;
  --sys-disabled: #a9aaab;
}
