// themes.scss

:root {
  --mc-accent: 14, 160, 222;
  --mc-accent-hover: 1, 141, 201;
  --mc-black: 40, 42, 44;
  --mc-white: 255, 255, 255;
  --mc-vivid-grey: 123, 135, 148;

  --bg-blue: 240, 249, 253;
  --bg-lighter-blue: 123, 187, 227;
  --bg-blue-hover: 207, 238, 250;
  --bg-gray: 248, 248, 248;
  --bg-darker-gray: 247, 247, 247;
  --bg-stroke-gray: 230, 236, 238;
  --bg-darker-stroke-gray: 144, 145, 146;
  --bg-gray-blue: 119, 151, 183;

  --adt-red: 196, 50, 10;
  --adt-green: 93, 150, 43;
  --soft-red: 252, 216, 216;
  --muted-red: 213, 141, 141;
  --soft-green: 222, 245, 201;
  --muted-green: 174, 209, 141;
  --sys-disabled: 169, 170, 171;

  --light-lemon: 255, 246, 197;
  --golden-amber: 188, 141, 20;

  --soft-peach: 255, 239, 233;

  --pale-sky: 231, 237, 254;
  --ocean-blue: 105, 135, 215;
}
