// typography.scss

$default-family: 'Museo Sans Cyrl', sans-serif;

$font-size-h1: 16px;
$font-size-h2: 16px;
$font-size-text: 14px;
$font-size-subtext: 14px;

$line-height-h1: 18.72px;
$line-height-h2: 18.72px;
$line-height-text: 16.38px;
$line-height-subtext: 16.38px;

$font-weight-regular: 400;
$font-weight-bold: 600;

:root {
  --font-h1: normal #{$font-weight-regular} #{$font-size-h1}/#{$line-height-h1} #{$default-family};
  --font-h2: normal #{$font-weight-regular} #{$font-size-h2}/#{$line-height-h2} #{$default-family};
  --font-text: normal #{$font-weight-regular} #{$font-size-text}/#{$line-height-text} #{$default-family};
  --font-text-bold: normal #{$font-weight-bold} #{$font-size-text}/#{$line-height-text} #{$default-family};
  --font-subtext: normal #{$font-weight-regular} #{$font-size-subtext}/#{$line-height-subtext} #{$default-family};
}