.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  font: var(--font-text-bold);
  border: 1.5px solid var(--bg-stroke-gray);
  border-radius: 8px;
  color: var(--mc-black);
  cursor: pointer;
  transition: background-color var(--animation-duration) ease, color var(--animation-duration) ease;

  &.radiusSmall {
    border-radius: 4px;
  }

  &.smallSize {
    width: 24px;
    height: 24px;
  }
}

.buttonHovered {
  background-color: var(--bg-blue);
}

.buttonActive {
  &.typeFilled {
    border-color: var(--mc-accent);
    background-color: var(--mc-accent);
    color: var(--mc-white);
  }

  &.typeEmpty {
    border: 1.5px solid var(--mc-accent);
  }
}