.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  font: var(--font-text-bold);
  border: 1.5px solid rgb(var(--bg-stroke-gray));
  border-radius: 8px;
  cursor: pointer;
  transition: background-color var(--animation-duration) ease, color var(--animation-duration) ease;

  &.radiusSmall {
    border-radius: 4px;
  }

  &.smallSize {
    width: 24px;
    height: 24px;
  }

  &.typeClear {
    border-color: transparent;
    background-color: transparent;
  }

  &.typeFilled {
    border-color: rgb(var(--mc-accent));
    background-color: rgb(var(--mc-accent));
    color: rgb(var(--mc-white));
  }
}

.buttonHovered {
  background-color: rgb(var(--bg-blue));
}

.buttonActive {
  &.typeEmpty {
    border: 1.5px solid rgb(var(--mc-accent));
  }
}