.accountStatusCode {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    width: 132px;
    gap: 4px;
    border-radius: 4px;

    &.COMPLETED {
        background-color: rgb(var(--soft-green));
        color: rgb(var(--adt-green));
    }

    &.IN_PROGRESS {
        & > * {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 24px;
            border-radius: 4px;
            background-color: rgb(var(--light-lemon));
            color: rgb(var(--golden-amber));
        }

        & span:first-child {
            width: 104px;
        }

        & svg {
            padding: 4px;
            width: 24px;
        }
    }

    &.DENIED {
        background-color: rgb(var(--soft-peach));
        color: rgb(var(--adt-red));
    }

    &.EXPIRED {
        background-color: rgb(var(--pale-sky));
        color: rgb(var(--ocean-blue));
    }

    &.CANCELLED {
        background-color: rgba(var(--mc-black), 0.1);
        color: rgb(var(--mc-black));
    }
}