.modalForm {
  margin: 72px auto 0;
  display: flex;
  flex-direction: column;
  max-width: 415px;
  max-height: calc(100vh - 144px);
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  background-color: rgb(var(--bg-gray));
  border-bottom: 1px solid rgb(var(--bg-stroke-gray));
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  &::after {
    content: '';
    position: absolute;
    top: 60px;
    left: 0;
    width: calc(100% - 26px);
    height: 108px;
    background: linear-gradient(177.67deg, rgba(var(--bg-darker-gray), 1) 14.86%, rgba(var(--bg-gray), 0) 93.23%);
    pointer-events: none;
    z-index: 1;
    opacity: 0;
    transition: opacity var(--animation-duration-fast) ease;
  }

  &.scrolled::after {
    opacity: 1;
  }
}

.bodyContainer {
  position: relative;
  padding: 17px 14px 32px 40px;
  background-color: rgb(var(--mc-white));
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow-y: auto;
  scrollbar-gutter: stable;
}

.title {
  padding: 24px 40px 17px 40px;
  font: var(--font-h2-bold);
}

.closeButton {
  padding: 16px 16px 20px 16px;
}
.closeButton svg {
  padding: 7px;
  width: 24px;
  height: 24px;
  border-radius: 8px;
  background-color: rgb(var(--mc-accent));
  color: rgb(var(--mc-white));
  transition: transform var(--animation-duration) ease;
}
.closeButton:hover svg {
  transform: scale(1.1);
}