.userManagementWidget {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  width: 100%;
  height: 100%;
  gap: 20px;
}

.controlsSection {
  padding: 0 23px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}