.container::-webkit-scrollbar {
    width: 26px;
    height: 26px;
}
.container::-webkit-scrollbar-thumb {
    background-color: rgb(var(--bg-stroke-gray));
    border-radius: 32px;
    border: 8px solid transparent;
    background-clip: padding-box;
}
.container::-webkit-scrollbar-thumb:vertical {
    background-color: rgb(var(--bg-stroke-gray));
    border-radius: 32px;
    border: 8px solid transparent;
    background-clip: padding-box;
}