.userTelegramIdActivity {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  word-break: normal;
}

.activityCircle {
  flex-shrink: 0;
  border-radius: 100%;
  display: block;
  width: 6px;
  height: 6px;
  background-color: rgb(var(--mc-accent));
}
.activityCircle.isActive {
  background-color: rgb(var(--adt-red));
}
.activityCircle.disabled {
  background-color: rgb(var(--sys-disabled));
}