.logo {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 8px;
    width: 163px;
    height: 32px;
    font: var(--font-h1);
}

.logoImage {
    width: 32px;
    height: 32px;
    border-radius: 8px;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: rgb(var(--bg-stroke-gray));
}