.button {
  display: flex;
  gap: 8px;
  padding: 10px 12px 10px 12px;
  border-radius: 8px;
  border-width: 2px;
  border-style: solid;
  border-color: var(--mc-accent);
  font: var(--font-text-bold);
  color: var(--mc-accent);
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.buttonHovered {
  background-color: var(--mc-hover-blue);
}

.buttonActive {
  border-color: var(--mc-accent);
  background-color: var(--mc-accent);
  color: var(--mc-white);
}