.button {
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  font: var(--font-h2);
  cursor: pointer;
  transition: background-color var(--animation-duration) ease;
}
.buttonHovered {
  background-color: var(--bg-stroke-gray);
}
.buttonActive {
  background-color: var(--mc-accent);
  color: var(--mc-white);
}