.sequenceItem {
  padding: 16px 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border: 1px solid rgb(var(--bg-stroke-gray));
  background-color: rgb(var(--bg-blue));
  border-radius: 10px;

  .position {
    font: var(--font-text-bold);
  }

  .text {
    padding: 0 12px;
    display: flex;
    align-items: center;
    height: 40px;
    border: 1px solid rgb(var(--bg-stroke-gray));
    background-color: rgb(var(--mc-white));
    border-radius: 10px;
  }
}