.mainSidebar {
  position: relative;
  width: 235px;
}
.collapsed {
  width: 95px;
}

.fixedContainer {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--bg-gray);
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: var(--bg-stroke-gray);
  color: var(--mc-black);
  overflow-y: auto;
  scrollbar-width: thin;
}

.headerSection {
  padding: 24px 34px 24px 35px;
}
.desktopSection {
  padding: 16px 24px 16px 24px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: var(--bg-stroke-gray);
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: var(--bg-stroke-gray);
}
.bottomSection {
  padding: 24px 24px 22px 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
  height: 100%;

  & > div {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}

.collapsed {
  .headerSection {
    padding: 24px 22px 16px 32px;

    a {
      display: block;
      border-radius: 8px;
      border: 1px solid var(--bg-stroke-gray);
      width: 40px;
      height: 40px;
      overflow: hidden;

      img {
        width: 38px;
        height: 38px;
      }
    }
  }

  .desktopSection {
    padding: 16px 22px 16px 32px;
  }

  .bottomSection {
    padding: 24px 22px 22px 32px;
  }
}