.button {
  padding: 8px 10px;
  border-radius: 8px;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(var(--mc-accent));
  font: var(--font-h2-bold);
  color: rgb(var(--mc-accent));
  background-color: transparent;
  cursor: pointer;
  transition: background-color var(--animation-duration) ease, border-color var(--animation-duration) ease, color var(--animation-duration) ease;
}

.buttonDisabled {
  color: rgb(var(--sys-disabled));
  border-color: rgb(var(--sys-disabled));
  cursor: default;
}

.buttonHovered {
  border-color: rgb(var(--bg-stroke-gray));
  background-color: rgb(var(--bg-gray));
}